modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Extension Development"

[[workflows.workflow]]
name = "Extension Development"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx nodemon --watch . --ext js,html,css,json --exec 'echo \"Extension files changed, please reload the extension\" && date'"

[deployment]
run = ["sh", "-c", "npx nodemon --watch . --ext js,html,css,json --exec 'echo \"Extension files changed, please reload the extension\" && date'"]

[[ports]]
localPort = 8000
externalPort = 80
